@model Shirel_Ferrera.Models.AirlinesModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Airline</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Styles/Airline.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.4.1.js"></script>
    <script src="~/Scripts/ViewScripts/Airline.js"></script>
</head>
<body>
    <div class="container">
        <div id="upper">
            <table>
                <thead>
                    <tr>
                        <th>Code</th>
                        <th>Airline Name</th>
                    </tr>
                </thead>
                <tbody id="tbody">
                    @Html.Partial("TBody", Model);
                </tbody>
            </table>
        </div>
        <br />

        <div class="row-plus">
            <input type="image" src="~/Images/istockphoto-691856112-170667a.jpg" height="70" width="70" value="Show Div" id="plusBtn" onclick="showDiv(this)" />
        </div>
        

        <div id="myDiv" style="display:none" class="col-md-6 green-block">
            <div class="row">
                <input class="form-control" id="inputCode" type="text" value="" placeholder="Code">
                <input class="form-control" id="inputName" type="text" value="" placeholder="AirlineName">
                <button id="buttons"onclick="saveRow()">
                    <img src="~/Images/saveicon.png" alt="Save" />
                </button>
            </div>
        </div>
    </div>
</body>
</html>